/* Estilos generales del header */

* {
    padding: 0;
    /* espaciado alrededor del header */
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}


/* Estilos para el contenedor de navegación */
#nav-navegation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    /* Fondo de la barra de navegación */
    margin: 0 20px;
    /* Márgenes izquierdo y derecho de 20px */
    padding: 5px 0;
    /* relleno en la parte superior e inferior */
}

.form-search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-search button{
   margin: 9px 10px 10px;
   padding: 5px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   background-color: #f47434;
   background-color: #f48c53;

   color: white;
}

.form-search button:hover{
    background-color: #f47434;
}


/* Estilos para los elementos de navegación */
#nav-navegation li {
    list-style-type: none;
    display: inline;
    margin-right: 10px;
    /* margen derecho entre los elementos */
}

#nav-navegation li.rr a{
    color: #f48c53;
}

#nav-navegation li a {
    text-decoration: none;
    font-family: Arial;
    font-size: 11px;
    color: #000000;
    padding: 10px;
    background-color: #fff;
    transition: background-color 0.3s;
    /*transición suave al color de fondo */
}

#nav-navegation li a:hover {
    background-color: #f48c53;
    padding-bottom: 12px;
    border-radius: 5px;
    color: white;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    #nav-navegation {
        flex-direction: column;
    }

    #nav-navegation li {
        display: block;
        text-align: center;
        padding: 10px 0;
    }
}

h1 {
    margin-top: 35px;
    text-align: center;
    font-family: Arial;
    font-size: 25px;
    color: #000000;
}


form {
    margin-left: 390px;
    margin-top: 30px;

}

label {
    display: inline-block;
    /* Colocar cada etiqueta en una línea nueva */
    font-weight: 400;
    margin-bottom: 5px;
}


/* Estilo para el botón naranja */
.orange-button {
    background-color: #f47434;
    /* Color naranja */
    color: #fff;
    /* Texto en blanco */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.orange-button:hover {
    background-color: #f48c53;
    /* Cambiar el color al pasar el cursor */
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    background-color: #181717;
    color: white;
    font-size: .7rem;
    bottom: 0;
}
.casos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 25px;

}

.caso input[type="checkbox"] {
    display: none;
}
.caso input[type="checkbox"] + label {
    cursor: pointer;
}
.caso input[type="checkbox"] + label::before {
    content: "\2713"; /* ✓ character */
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
    visibility: hidden;
}
.caso input[type="checkbox"]:checked + label::before {
    visibility: visible;
}
.detalles {
    display: none;
}
.caso input[type="checkbox"]:checked + label + .detalles {
    display: block;
}
.eliminar {
    color:#f47434;
    cursor: pointer;
    display: none;
}
.caso input[type="checkbox"]:checked + label + .detalles + .eliminar {
    display: inline;
}
