:root {
    --main-bg-color: #f48c53;
    --hover-bg-color: #f47434;
    --footer-bg-color: #181717;
}

* {
    padding: 0;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    font-family: 'Open Sans', sans-serif;
}

#pageInicioSesion {
    background-image: url("../../public/img/backgroundInicioSesion.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#seleccionDeInicio {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 50%;
    top: 25%;
    left: 35%;
    box-shadow: 0 1rem 4rem rgb(0, 0, 0);
}

#text_inicia_sesion {   
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(58, 58, 65);
    background-color: rgba(255, 255, 255, 0.72);
    padding: 10px;
    
}

#contenedor_opciones {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    background-color: gray;
    /* border-radius: 0px 10px 10px 0px; */

}

#crearCuenta {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#crearCuenta form,
#iniciarSesion form {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: red;
}

#crearCuenta form a,
#iniciarSesion form a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    text-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
    font-size: small;
}

#crearCuenta form a:hover,
#iniciarSesion form a:hover {
    color: #f47434;
}

#crearCuenta form input,
#iniciarSesion form input {
    background-color: transparent;
    text-decoration: none;
    border: 0px;
    padding: 5px;
    margin: 5px;
    border-bottom: #181717 1px solid;
    color: white;
    outline: none;
}


#crearCuenta form input::placeholder,
#iniciarSesion form input::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1;
}

#crearCuenta form button,
#iniciarSesion form button {
    cursor: pointer;
    text-decoration: none;
    background-color: var(--main-bg-color);
    border: none;
    font-size: small;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
}

#crearCuenta form button:hover,
#iniciarSesion form button:hover {
    background-color: var(--hover-bg-color);
}

#iniciarSesion h3 p{
    color: #181717;
}

.hiddens_opciones {
    display: none;
}


footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    background-color: var(--footer-bg-color);
    color: white;
    font-size: .7rem;
    bottom: 0;
}

@media (max-width: 768px) {
    #pageInicioSesion{
        background-size: 100%;
        /* width: 100%; */
        
    }

    #seleccionDeInicio{
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        top: 10%;
        left: 0;
        box-shadow: none;
    }

    #contenedorOpciones{
        max-width: 100%;
    }

}
